<div class="content">
    <div class="image-grid">
      <figure>
          <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_640.jpg" alt="Image 1">
          <figcaption class="image-name">Project tree done</figcaption>
        </figure>
        <figure>
          <img src="https://letsenhance.io/static/73136da51c245e80edc6ccfe44888a99/1015f/MainBefore.jpg" alt="Image 2">
          <figcaption class="image-name">Image 2</figcaption>
        </figure>
        <figure>
          <img src="https://img.freepik.com/free-photo/colorful-design-with-spiral-design_188544-9588.jpg" alt="Image 3">
          <figcaption class="image-name">Image 3</figcaption>
        </figure>
        <figure>
          <img src="https://images.ctfassets.net/hrltx12pl8hq/28ECAQiPJZ78hxatLTa7Ts/2f695d869736ae3b0de3e56ceaca3958/free-nature-images.jpg?fit=fill&w=1200&h=630" alt="Image 4">
          <figcaption class="image-name">Image 4</figcaption>
        </figure>
        <figure>
          <img src="https://cdn.pixabay.com/photo/2014/02/27/16/10/flowers-276014_640.jpg" alt="Image 5">
          <figcaption class="image-name">Image 5</figcaption>
        </figure>
        <figure>
          <img src="https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg" alt="Image 6">
          <figcaption class="image-name">Image 6</figcaption>
        </figure>
    </div>
  </div>
