<!-- <!DOCTYPE html>
<html lang="en"> -->
  <!-- <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Website</title>
  
  </head> -->
  
    <div class="header">
      <div class="logo">
        <img src="logo.png" alt="Logo" />
      </div>
      <div class="profile">
        <span>Welcome, Shahbaaz</span>
        <button>Logout</button>
      </div>
    </div>

    <div class="sidebar">
      <h3>HOME</h3>
      <h3>PROJECTS</h3>
      <ul>
        <li>Documents</li>
        <li>stages</li>
        <li>Task</li>
        <li>People</li>
      </ul>
    </div>
    <h2>Create Project</h2>
    
    <div class="content">
      <div class="form-container">
        <form #f="ngForm"  novalidate>
          <label for="name">Project Name:</label>
          <input  [(ngModel)]="ProjectForm.ProjectName" type="text" id="name" [ngModelOptions]="{standalone: true}"/><br /><br />
          <label for="location">Project Location:</label>
          <input type="text" [(ngModel)]="ProjectForm.ProjectLocation"  id="location" [ngModelOptions]="{standalone: true}"/><br /><br />
          <label for="">Project Image</label>
          <input type="file" [(ngModel)]="ProjectForm.ProjectImage" id="image" accept="image/png, image/jpeg" [ngModelOptions]="{standalone: true}"/><br /><br />
          <label for="">Start Date</label>
          <input type="date" [(ngModel)]="ProjectForm.StartDate" [ngModelOptions]="{standalone: true}"/>
          <label for="">End Date</label>
          <input type="date"[(ngModel)]="ProjectForm.EndDate" [ngModelOptions]="{standalone: true}"/><br /><br />
          <button type="button" (click)="submit()">Create</button>
        </form>
      </div>
    </div>
  
<!-- </html> -->
